:root{
    --color-primary: #1ABC9C;
    --color-secondary: white;
    --color-tertiary: #2C3E50;
    --color-quaternary: #3A546D;
    --color-text: #333333;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.primarycolor{
    color: var(--color-primary);
}

.bg-myprimary{
    background-color: var(--color-primary);
}

.bg-tertiary{
    background-color: var(--color-tertiary);
    color: white;
}

.bg-quaternary{
    background-color: var(--color-quaternary);
    color: white;
}

.colorwhite{
    color: white;
    font-weight: 700;
}

.jumbotron{
    color: white;
}

.jumboimg{
    aspect-ratio: 1;
    max-width: 300px;
}

.jumboimg img{
    width: 100%;
}

.starspacer{
    width: 26%;
    align-items: center;
    justify-content: space-between;
}

.card img{
    transition: transform 0.5s;
}

.card:hover img{
    transform: scale(1.1);
}

.starspacer i{
    font-size: 2rem;
}

.starspacer .spacer{
    width: 38%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.starspacer .spacer{
    width: 38%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.portfolio .spacer{
    background-color: #333333;
}

.portfolio{
    color: var(--color-text);
}

.about{
    color: white;
}

.contact .spacer{
    background-color: #333333;
}

.form-controller {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
}

.socialicons i{
    border: solid 2px;
    padding: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: color 0.5s;
}

.socialicons i:hover{
    background-color: white;
    color: var(--color-quaternary);
}





@media screen and (max-width: 600px){
    h3{
        font-size: 1.2rem;
    }
}